body {
    background-color: rgb(250, 251, 213);
    font-size: 10%;
}

form {
    display: flex;
    flex-direction: column;
}

label, h1 {
    color: rgb(28, 40, 50);
    font-size: 10em;
}

h1 {
    font-size: 35em;
}

form > input {
    width: 40vw;
    height: 2.5vh;
    margin-bottom: 20px;
    border: 2px solid rgb(255,233,250);
}

button {
    width: 90px;
    height: 20px;
}

p {
    font-size: 25em;
    width: 50%;
}