{% extends 'base.html' %}
{% block title %}Cupcakes JSON API{% endblock %}
{% block h1 %}CUPCAKES{% endblock %}
{% block body %}
<h2>Add a Cupcake</h2>
<form action="/api/cupcakes" method="POST">
    <label for="flavor">Flavor</label>
    <input id="flavor" type="text" name="flavor" placeholder="Enter a Flavor!">

    <label for="rating">Rating</label>
    <input id="rating" type="number" name="rating" placeholder="Enter a Rating!">

    <label for="size">Size</label>
    <input id="size" type="text" name="size" placeholder="Enter a Size!">

    <label for="image">Image</label>
    <input id="image" type="text" name="image" placeholder="Enter an Image Url">
    <button>SUBMIT!</button>
</form>

<div class="cupcake-div">
    <h3>Available Cupcakes</h3>
    <ul>

    </ul>
</div>
{% endblock %}