.div-vote {
    width: 30%;
    height: 100%;
    padding: 20px 20px;
    background-color: rgb(15, 16, 33);
    color: rgb(229, 191, 229);
    border: 5px inset rgb(176, 237, 156);
    margin-bottom: 15px;
}

.ul-vote {
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    color: rgb(229, 191, 229);
}

.ul-vote li {
    margin-bottom: 10px;
    width: 100%;
}

