body {
    background-color: #0f0f2f;
}

section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.titles {
    font-size: 15rem;
    font-family: 'Helvetica', sans-serif;
}