.LinkBox {
    display: block;
    width: 50vw;
    height: 50vh;
    margin: 0px auto;
    margin-top: 80px;
    background-color: rgb(14, 13, 26);
    border: 50px solid rgb(141, 157, 251);
    border-radius: 25px;
}