.VendingMachine-nav a {
  margin: 10px 30px;
  text-decoration: none;
}

.body {
  background-image: url("https://images.unsplash.com/photo-1585341840941-98553e474d84?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
}