form {
    display: flex;
    flex-direction: column;
}

form button, button {
    width: 200px;
    margin-bottom: 20px;
}

form input {
    width: 500px;
    margin-bottom: 20px;
}

ul {
    margin-bottom: 30px;
}

li {
    margin-bottom: 10px;
}

/*used unsplash for images.
Left click the detail image and copy address
*/
img {
    display: block;
    width: 30%;
    margin-bottom: 30px;
}