.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    min-width: 550px;
}

h1, p {
    display: flex;
    justify-content: center;
    /* background-color: blanchedalmond; */
    padding: 0px 0px;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
    margin-bottom: 50px;
    color: rgb(186, 0, 96);
    -webkit-text-stroke: 1.6px #000;
}

p {
    font-size: 2rem;
    margin-bottom: 0px;
    color: #000;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 440px;
    gap: 10px;
    padding: 20px 20px;
    border: 20px solid rgb(0, 1, 44);
    margin-top: 10vh;
    background-color: rgb(0, 1, 44);
    border-radius: 15px;
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-height: 400px; */
}

.grid:hover, body:hover{
    cursor: pointer;
}