.DogList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0px auto;
    width: 100vw;
    height: 100vh;
}

.DogList-h1 {
    display: block;
    text-align: center;
    height: 70px;
    margin: 50px 0px 10px 0px;
    color: rgb(57, 61, 107);
}

.DogList-content img {
    height: 200px;
}

.DogList-content-container {
    height: 200px;
    margin: 30px 30px 0px 0px;
}
  
.DogList-content {
    height: 200px;
    padding: 7px;
    overflow: hidden;
}
  
.DogList-text {
    height: 200px;
    background-color: rgba(42, 41, 55, 0.568);
    font-size: 30px;
    transition: top 0.6s;
    position: relative;
    top: 100px;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
}

.DogList-text a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.DogList-text a:hover {
    color: rgb(252, 238, 157);
    text-decoration: underline;
}
  
.DogList-content-container:hover .DogList-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -204px;
    right: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
}