{% extends 'base.html' %}
{% block title %}User Page{% endblock %}
{% block h1 %}User: {{ user.username }}{% endblock %}
{% block body %}
<div class="div">
<p>Username: {{ user.username }}</p>
<p>First Name: {{ user.first_name }}</p>
<p>Last Name: {{ user.last_name }}</p>
<p>Email: {{ user.email }}</p>

{% if session['username'] == username %}
<form action="/users/{{ username }}/delete" method="POST">
    <button>DELETE USER</button>
</form>
{% endif %}
</div>
<div class="feedback-div">
    {% if feedback %}
        {% for tuple in feedback %}
        <form action="/feedback/{{ tuple[2] }}/delete" mehtod="POST">
            <h2>Feedback: {{ tuple[0] }}</h2>
            <div class="feedback">
                <p>Title: {{ tuple[0] }}</p>
                <p>Content: {{ tuple[1] }}</p>
                <p>Username: {{ user.username }}</p>
                <button type="button"><a href="/feedback/{{ tuple[2] }}/update">EDIT</a></button>
                <button type="submit">DELETE</button>
            </div>
        </form>
        {% endfor %}
    {% else %}
        <h2>No Feedback</h2>
    {% endif %}
</div>
{% endblock %}