.ShopList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.ShopList-container {
  box-sizing: border-box;
  width: 30vw;
  height: 400px;
  padding: 20px 20px;
  border: 4px inset rgb(234, 234, 234);
  border-radius: 04px;
  background-color: rgb(244, 244, 244);
  margin: 0px 0px 30px 0px;
}

.ShopList-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ShopList-fa-cart-plus, .ShopList-fa-cart-minus {
  font-size: 25px;
  margin: 0px 10px 0px 0px;
  transition: ease-in-out .3s color;
  /* margin: 0px 0px 30px 0px; */
}

.ShopList-fa-cart-plus:hover, .ShopList-fa-cart-minus:hover {
  color: rgb(191, 0, 191);
  /* margin: 0px 0px 30px 0px; */
}

.ShopList img {
  width: 30%;
}