{% extends 'base.html' %}
{% block title %}Pet Adoption Application Add Pet Form{% endblock %}
{% block h1 %}Add a Pet{% endblock %}
{% block body %}
<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div>
        {{field.label}}
        {{field(class_="input")}}
        {% for err in field.errors %}
            <p class="errors">{{err}}</p>
        {% endfor %}    
    </div>
    {% endfor %}
    <button>SUBMIT!</button>
</form>
{% endblock %}