.ProfileCard-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.ProfileCard {
  width: 70vw;
  height: 100%;
  background-color: white;
  border: 4px solid rgb(48, 7, 47);
  border-radius: 03px;
  padding: 10px 10px;
  margin-bottom: 60px;
}

.ProfileCard-user {
  margin-bottom: 40px;
}

.ProfileCard-user ul {
  margin-top: -10px;
}
